@charset "UTF-8";

body{
    background-color:powderblue;
    font-family: fantasy;
    font-size: 20px;
}

h1 {
    color: crimson;
    background-color: deepskyblue;
}

h2 {
    color: lightcoral;
}

p {
    text-align: justify;
}