body {
    background-color: darkslategray;
}

h1 {
    font-family: unset;
    font-size: 34px;
}

h2 {
    font-family: sans-serif;
    font-size: 30px;
}

li {
    font-family: cursive;
    font-size: 24px;
}